.Answer {
	display: block;
	position: relative;
	color: #F2F2F2;
  min-height: 100vh;
	font-size: 16px;
}

.header{
	top: 0;
	position: fixed;
	display: block;
	width: 598px;
	
	background-color: rgb(0, 0, 0);

	height: 80px;
	border-width: 0px 0px 1px 0px;
  border-style: solid;
  border-color: #3A444C;

}



.title{
	
	color: #F2F2F2;
	font-size: 30px;
	letter-spacing: -1.35px;
	font-weight:bold;

	text-align: right;
	line-height: 80px;
	padding-right: 25px;
}




 .wrapper {
	margin-top: 80px;
} 

.answers_wrapper {

  height: 100vh;
	overflow-y: auto;
	scroll-behavior: smooth; 
} 

.intro {
	margin: 0% 5% 0 5%;
	padding-top: 8%;
}

.answer{
	display: inline;
	font-size: 20px;
	background-color: #FFB800;
	color: black;


}


.frame {
	display: inline;
	color:  #FFB800;
	font-weight: 700;

}

.answer_wrap {
	margin: 20% 6% 0% 6%;
}

.creo {
	margin-top: 10%;
	width: 100%;
	margin-bottom: 5%;
}

.creo p {
	display: inline-block;
	width:40%;
	margin-left: 5%;
}

 .img{
	display: inline-block;
	width:50%;

} 


.svg {
	display: block;
	width: 100px;
	height: 50px;
  margin: 0 auto;
	/* transform: rotate(20deg); */

}

.txt{
	margin-bottom: 3%;
}


.img_wrap {
	display: inline-block;
	margin-left: 5%;
}